/*=================================================
|||			  CSS da Página Principal       	|||
||+---------------------------------------------+||
|||	Autor: Crystian Ataide | Data: 04/10/2022	|||
=================================================*/    
/* Botão 'Minha Bio' home */
.botao-bio {
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.1s all;
    cursor: pointer;
    border-radius: 3px;
}

.botao-bio:hover {
	background: darkgreen;
	transform: scale(109%);
}

/*=================================================
|||			CSS da Página da Minha Bio  		|||
||+---------------------------------------------+||
|||	Autor: Crystian Ataide | Data: 04/10/2022	|||
=================================================*/
/* body {
    background: #000000;
    font-family: 'Montserrat', sans-serif;
} */

.imagem {
    width: 200px;
    border: solid 3px #ffffff;
    border-radius: 10px;
    float: left;
}

.descrição {
    width: 940px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    padding: 10px 30px;
    /* background: #111111; */
    box-sizing: border-box;
    font-size: 18px;
    text-align: left;
    border: 2px solid #000000;
    border-radius: 10px;
}

/* Botao 'Voltar' Bio */
.voltar {
    width: 40px;
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.1s all;
    cursor: pointer;
    border-radius: 3px;
}

.voltar:hover {
	background: darkgreen;
	transform: scale(109%);
}